<div id="contact" class="section-contact container text-center">
    <div class="row">
        <div class="col p-last-none">
            <h2>contact</h2>
            <p>shoot me a mail at <a href="mailto:dwldevries@gmail.com">dwldevries@gmail.com</a><br>
                or send me a <a href="https://api.whatsapp.com/send?phone=+31614136577" target="_blank">message on
                    whatsapp</a>
            </p>
            <div class="mb-10"></div>
            <a href="https://www.linkedin.com/in/d%C3%A8vaney-de-vries-114291ab/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-linkedin list-icons__icon list-icons__icon--linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                </svg>
            </a>
        </div>
    </div>
</div>