<!DOCTYPE html>
<html>

<head>

	<title>Dèvaney</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif+JP:wght@600;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./assets/styles/main.css">

</head>

<body>

	<header class="header center-y">
		<div class="container">
			<div class="row">
				<div class="col" style="margin-top: -25px;">
					<a href="index.html" class="header__logo">
						<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 767.02 202.24">
							<title>dev</title>
							<path
								d="M636.46,50.27c7,11.81,10.07,25.51,18,36.87a2.58,2.58,0,0,0,3.42.9c12.64-6.57,17-25,20-37.59,3.75-15.81,5.59-32,7.66-48.05.37-2.88-4.12-3.25-4.91-.66C662.21,62,682.1,125.6,668.81,186.53l4.57-.6c-12.61-17.94-15.11-41.39-17.91-62.56-1.29-9.78-2.48-19.6-4.6-29.24-3.1-14.09-7.23-27.94-10-42.11L636.33,54c32.43,46.79,56.3,98.72,86.11,147.11,1.68,2.73,6,.23,4.32-2.52C697,150.15,673.08,98.22,640.65,51.43a2.51,2.51,0,0,0-4.57,1.93c2.74,14.17,6.87,28,10,42.11,2.34,10.64,3.55,21.48,5,32.26,2.78,20.67,5.72,43.23,18,60.73,1.14,1.63,4.08,1.67,4.57-.6,13.29-60.93-6.57-124.58,11.76-184.79l-4.91-.66c-1.91,14.84-3.65,29.71-6.93,44.33-2.66,11.83-6.27,30.78-18.22,37l3.42.9c-7.91-11.36-10.93-25.06-18-36.87-1.65-2.77-6-.26-4.32,2.51Z" />
							<path
								d="M709.32,83.15c-11.39,8.33-23.72,15.21-35.77,22.51a2.52,2.52,0,0,0,1.26,4.66c12,1,22.05,8.49,32.47,13.83a2.54,2.54,0,0,0,3.67-1.49c8.29-22.8,12.38-46.9,14.89-71,.33-3.2-4.67-3.17-5,0-2.46,23.61-6.58,47.26-14.71,69.63l3.67-1.49c-11.34-5.81-21.93-13.44-35-14.51l1.26,4.66c12-7.31,24.38-14.18,35.77-22.51,2.58-1.89.08-6.23-2.52-4.33Z" />
							<path
								d="M763.91,145c-19.59,5.2-39.78,7.33-59.64,11.2a2.52,2.52,0,0,0-1.49,3.67c6.07,10.82,16.23,18.56,23.33,28.62,1.84,2.61,6.18.11,4.32-2.52-7.09-10-17.29-17.84-23.33-28.62-.5,1.22-1,2.45-1.49,3.67,19.86-3.87,40-6,59.64-11.2,3.1-.83,1.78-5.65-1.34-4.82Z" />
							<path
								d="M716.51,119.75a113.91,113.91,0,0,0-20.66,17.08A2.53,2.53,0,0,0,697,141c7.49,1.84,14.9-.79,22.43-.73L717.61,136c-5.39,5.68-13.07,8.38-18.63,13.93a2.53,2.53,0,0,0,1.77,4.27c16.58-.45,32.21-6.56,48.46-9.17,3.17-.51,1.82-5.33-1.33-4.82-15.8,2.53-31,8.55-47.13,9l1.77,4.27c5.56-5.54,13.21-8.21,18.63-13.93a2.53,2.53,0,0,0-1.77-4.27c-7-.06-14.19,2.6-21.11.9.37,1.39.74,2.79,1.1,4.18A108.12,108.12,0,0,1,719,124.06c2.71-1.74.2-6.07-2.51-4.31Z" />
							<path
								d="M26.75,98.69C45,98.69,57,109.78,57,130.08c0,19.87-13.16,31.3-31.82,31.3H0v-3.1l8.94-.95c.26-8.17.26-16.68.26-26.4v-3.1c0-8.51,0-16.94-.26-25.2L0,101.68v-3H26.75Zm-2.33,59.16c15.91,0,24.34-10.41,24.34-27.78,0-18.15-8.43-27.86-23.39-27.86H16.6c-.26,8.26-.26,16.86-.26,25.63v3.1c0,9.72,0,18.4.26,26.92h7.82Z" />
							<path
								d="M146.54,101.7l-8.26,1.12-15.82,59.25h-3.35l-16.43-50.83L86.94,162.07H83.67L66.9,102.56l-8.08-.86v-3H83.24v3l-8.86,1,12.38,46.61,15-46.61-9.46-1v-3H116.6v3l-9.55,1.12,14.71,46.87,12.38-46.78-8.94-1.2v-3h21.33v3Z" />
							<path
								d="M198.66,144.27l-.77,17.11H152.05v-3.1l8.94-.95c.26-8.26.26-16.6.26-24.85v-4.82c0-8.51,0-16.86-.26-25l-8.94-.95v-3h25.54v3l-8.94.95c-.26,8.26-.26,16.68-.26,25.46v6c0,7,0,15.22.26,23.39h22.7l2.75-13.24h4.56Z" />
							<path d="M206.31,135.49H228v5H206.31Z" />
							<path
								d="M262.9,98.69c18.23,0,30.27,11.09,30.27,31.39,0,19.87-13.16,31.3-31.82,31.3h-25.2v-3.1l8.94-.95c.26-8.17.26-16.68.26-26.4v-3.1c0-8.51,0-16.94-.26-25.2l-8.94-.95v-3H262.9Zm-2.32,59.16c15.91,0,24.34-10.41,24.34-27.78,0-18.15-8.43-27.86-23.39-27.86h-8.77c-.26,8.26-.26,16.86-.26,25.63v3.1c0,9.72,0,18.4.26,26.92h7.82Z" />
							<path
								d="M348.47,145.12l-.6,16.25H300.14v-3.1l8.94-1c.26-8.17.26-16.51.26-24.94v-4.73c0-8.34,0-16.77-.26-25l-8.94-1v-3h46l.6,16.17h-4.21l-2.32-12.38H316.74c-.26,8.08-.26,16.51-.26,25.28h15l1.29-9.29h3.53V140.2h-3.53l-1.2-9H316.48c0,9.55,0,18,.26,26.32h25.2l2.24-12.38h4.29Z" />
							<path
								d="M378.66,126.29c12.73,5.07,17.2,10.23,17.2,18.92,0,10.92-9.2,17.54-21.76,17.54a34.65,34.65,0,0,1-17.89-5l.43-12.9H361l2.06,11.35a19.2,19.2,0,0,0,10.58,2.67c9.37,0,15.65-4.21,15.65-12.21,0-6.19-3.61-9.29-12.56-12.9l-3.53-1.38c-9.63-3.87-15.74-9.29-15.74-18.32,0-10.75,8.94-16.86,20.3-16.86a24.37,24.37,0,0,1,15.14,4.9l-.43,12h-4.56l-2.06-10.92a15,15,0,0,0-8.26-2.15c-7.83,0-13.59,3.78-13.59,11.18,0,6.28,4,10,10.92,12.64Z" />
							<path
								d="M420.37,102.64c-.26,8.17-.26,16.51-.26,25v4.73c0,8.26,0,16.68.26,24.94l8.94.95v3.1H403.77v-3.1l8.94-.95c.26-8.17.26-16.51.26-24.94v-4.73c0-8.34,0-16.77-.26-25l-8.94-1v-3h25.54v3Z" />
							<path
								d="M494.32,134.63l-5.93.6c-.17,5.68-.26,11.44-.26,17.72v4.21c-6.54,3.53-12.56,5.59-20.21,5.59-18.66,0-31.39-13.67-31.39-32.77s13.07-32.76,31.65-32.76c7.91,0,13.5,1.63,18.75,4.82l.34,13.5h-4.82l-1.89-11.35a21.77,21.77,0,0,0-11.61-3.1c-14.1,0-24,10.75-24,29,0,18,9.29,28.81,24.25,28.81a29.94,29.94,0,0,0,11.7-2.41v-3.61c0-5.68-.09-11.61-.26-17.46l-10.06-.77v-3.1h23.74v3.1Z" />
							<path
								d="M560.54,101.7l-8,1.12-.09,59.25h-2.84L511.34,109l.09,48.16,10,1.12v3.1h-22.1v-3.1l8.08-1,.09-53.66-.77-1.12-7-.86V98.7h13.42l35.6,49.79-.09-45.58-10.06-1.2v-3h22v3Z" />
							<path
								d="M590.21,126.29c12.73,5.07,17.2,10.23,17.2,18.92,0,10.92-9.2,17.54-21.76,17.54a34.65,34.65,0,0,1-17.89-5l.43-12.9h4.39l2.06,11.35a19.2,19.2,0,0,0,10.58,2.67c9.37,0,15.65-4.21,15.65-12.21,0-6.19-3.61-9.29-12.56-12.9l-3.53-1.38c-9.63-3.87-15.74-9.29-15.74-18.32,0-10.75,8.94-16.86,20.3-16.86a24.37,24.37,0,0,1,15.14,4.9l-.43,12h-4.56l-2.06-10.92a15,15,0,0,0-8.26-2.15c-7.83,0-13.59,3.78-13.59,11.18,0,6.28,4,10,10.92,12.64Z" />
						</svg>
					</a>
				</div>
				<div class="col-auto d-flex justify-content-end">
					<nav class="header__nav">
						<a class="header__nav__item" href="#portfolio-">portfolio</a>
						<a class="header__nav__item" href="snapshots.html">snapshots</a>
						<a class="header__nav__item" href="index.html#about-me-">about me</a>
						<a class="header__nav__item" href="#contact-">contact</a>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<header class="header-mobile">
		<div class="header-mobile__hamburger navToggle">
			<div></div>
			<div></div>
		</div>
		<a href="/" class="header-mobile__logo">
			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.99 202.24">
				<title>dev-scribble</title>
				<path
					d="M.44,50.27c7.05,11.81,10.07,25.51,18,36.87a2.58,2.58,0,0,0,3.42.9c12.64-6.57,17-25,20-37.59,3.75-15.81,5.59-32,7.66-48.05.37-2.88-4.12-3.25-4.91-.66C26.19,62,46.08,125.6,32.79,186.53l4.57-.6C24.75,168,22.25,144.54,19.45,123.37c-1.29-9.78-2.48-19.6-4.6-29.24C11.75,80,7.62,66.19,4.88,52L.31,54c32.43,46.79,56.3,98.72,86.11,147.11,1.68,2.73,6,.23,4.32-2.52C60.93,150.15,37.06,98.22,4.63,51.43A2.51,2.51,0,0,0,.06,53.36c2.74,14.17,6.87,28,10,42.11,2.34,10.64,3.55,21.48,5,32.26,2.78,20.67,5.72,43.23,18,60.73,1.14,1.63,4.08,1.67,4.57-.6C50.91,126.93,31.05,63.28,49.38,3.07l-4.91-.66c-1.91,14.84-3.65,29.71-6.93,44.33-2.66,11.83-6.27,30.78-18.22,37l3.42.9c-7.91-11.36-10.93-25.06-18-36.87C3.11,45-1.21,47.5.44,50.27Z" />
				<path
					d="M73.3,83.15c-11.39,8.33-23.72,15.21-35.77,22.51a2.52,2.52,0,0,0,1.26,4.66c12,1,22.05,8.49,32.47,13.83a2.54,2.54,0,0,0,3.67-1.49c8.29-22.8,12.38-46.9,14.89-71,.33-3.2-4.67-3.17-5,0C82.36,75.31,78.24,99,70.11,121.33l3.67-1.49c-11.34-5.81-21.93-13.44-35-14.51L40.05,110c12.05-7.31,24.38-14.18,35.77-22.51,2.58-1.89.08-6.23-2.52-4.33Z" />
				<path
					d="M127.89,145c-19.59,5.2-39.78,7.33-59.64,11.2a2.52,2.52,0,0,0-1.49,3.67c6.07,10.82,16.23,18.56,23.33,28.62,1.84,2.61,6.18.11,4.32-2.52-7.09-10-17.29-17.84-23.33-28.62-.5,1.22-1,2.45-1.49,3.67,19.86-3.87,40.05-6,59.64-11.2,3.1-.83,1.78-5.65-1.34-4.82Z" />
				<path
					d="M80.49,119.75a113.91,113.91,0,0,0-20.66,17.08,2.53,2.53,0,0,0,1.1,4.18c7.49,1.84,14.9-.79,22.43-.73L81.59,136c-5.39,5.68-13.07,8.38-18.63,13.93a2.53,2.53,0,0,0,1.77,4.27c16.58-.45,32.21-6.56,48.46-9.17,3.17-.51,1.82-5.33-1.33-4.82-15.8,2.53-31,8.55-47.13,9l1.77,4.27c5.56-5.54,13.21-8.21,18.63-13.93a2.53,2.53,0,0,0-1.77-4.27c-7-.06-14.19,2.6-21.11.9.37,1.39.74,2.79,1.1,4.18A108.12,108.12,0,0,1,83,124.06c2.71-1.74.2-6.07-2.51-4.31Z" />
			</svg>
		</a>
	</header>

	<div class="nav-mobile__backdrop fill center-y">
		<nav class="nav-mobile">
			<a class="nav-mobile__item navToggle" href="#portfolio-">portfolio</a>
			<a class="nav-mobile__item navToggle" href="snapshots.html">snapshots</a>
			<a class="nav-mobile__item navToggle" href="index.html#about-me-">about me</a>
			<a class="nav-mobile__item navToggle" href="#contact-">contact</a>
		</nav>
	</div>