<section id="portfolio" class="section-spacing bg bg--white">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row justify-content-center pb-13">
            <a href="cliffhotel.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/cliffhotel/cliffhotel.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">Cliff Hotel</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="pathsinonefamily.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/pathsinonefamily/pathsinonefamily.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">Paths in one family</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="foldedcube.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/foldedcube/foldedcube.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">folded cube</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="newbee.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/newbee/newbee.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">New Bee</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="rowhouse.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/rowhouse/rowhouse.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">Row house</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="tokyohouse.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/tokyohouse/tokyohouse.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">Tokyo house</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="hhb.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/hhb/hhb.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">HOUSEHOLD FAIR MUSEUM & INNOVATION LAB</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="rawfortheoceans.html" class="portfolio-item cover"
                style="background-image: url(./assets/portfolio/rawfortheoceans/rawfortheoceans.jpg);">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">Raw For The Oceans</div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="snapshots.html" class="portfolio-item portfolio-item--2 cover">
                <div class="portfolio-item__overlay">
                    <div class="portfolio-item__title">snapshots</div>
                    <div class="portfolio-item__text">
                        <p>These are small pieces of art i've made over the course of my career.</p>
                    </div>
                    <div class="portfolio-item__icon">
                        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.764404" y="10.022" width="30" height="2" fill="white" />
                            <rect x="21.3197" y="0.408691" width="15" height="2" transform="rotate(45 21.3197 0.408691)"
                                fill="white" />
                            <rect x="19.9055" y="20.2212" width="15" height="2" transform="rotate(-45 19.9055 20.2212)"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>