.avatar {
    position: absolute;
    right: -400px;
    top: -100px;
    display: block;


    @include media-breakpoint-down(xl) {
        top: 50px;
        right: -300px;
        width: 1000px;
    }

    @include media-breakpoint-down(md) {
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }

    @include media-breakpoint-down(sm) {
        width: 500px;
    }

    @include media-breakpoint-down(xs) {
        width: 100%;
    }
}