.bg {

    &--white {
        background-color: white;
    }

    &--black {
        background-color: black;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }

        p {
            color: #939393;
        }
    }

    &--black-fade {
        background: linear-gradient(168.18deg, #262626 0%, #000000 77.27%);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }

        p {
            color: #939393;
        }
    }
}