.button {
    $p: &;

    position: relative;
    display: inline-flex;
    justify-content: center;

    padding: 10px 25px;

    transition: .15s;


    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;

        background-color: white;

        transition: .15s;
    }

    &:hover {
        text-decoration: none;
        color: white;


        &:after {
            width: 30px;
        }
    }
}