.hero {
    position: relative;
    min-height: 100vh;
    padding: $header-height 0 50px 0;
    background-color: black;

    &__img {
        position: absolute;
        opacity: 50%;
    }

    &__quote {
        position: relative;
        margin: 0 auto;
        max-width: 891px;

        color: white;
        text-align: center;
        font-size: 48px;
        line-height: 1.8;


        @include media-breakpoint-down(xl) {
            max-width: 600px;
            font-size: 30px;
        }

        @include media-breakpoint-down(sm) {
            max-width: 438px;
        }

        @include media-breakpoint-down(xs) {
            width: 80%;
            font-size: 24px;
        }

        // the quotes
        &:before,
        &:after {
            // content: '"';
            position: absolute;
            font-size: 60px;


            @include media-breakpoint-down(xl) {
                font-size: 40px;
            }

            @include media-breakpoint-down(xs) {
                font-size: 30px;
            }
        }

        &:before {
            margin-left: -40px;
            top: -5px;

            // quote placement
            @include media-breakpoint-down(xl) {
                margin-left: -30px;
            }
        }

        &:after {
            margin-left: 10px;
            bottom: -45px;

            // quote placement
            @include media-breakpoint-down(xl) {
                bottom: -30px;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 100px;

        @include media-breakpoint-down(xs) {
            flex-direction: column;
        }

        .button {
            width: 170px;

            @include media-breakpoint-down(xs) {
                margin: 0 auto;
            }

            &:first-of-type {
                margin-right: 50px;

                @include media-breakpoint-down(xs) {
                    margin: 0 auto;
                    margin-bottom: 25px;
                }
            }
        }
    }
}