.portfolio-hero {
    position: relative;
    display: flex;
    align-items: flex-end;

    height: 520px;
    background-color: black;


    @include media-breakpoint-down(xs) {
        height: 75vw;
    }

    &__img {
        opacity: .1;
        filter: blur(10px);
    }

    &__title {
        position: relative;
        color: white;
        margin-bottom: 17px;


        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__preview-img {
        position: relative;
        width: 100%;
        margin-top: -50%;
        z-index: 1;


        @include media-breakpoint-down(md) {
            margin-bottom: $grid-gutter-width;
        }
    }

    &__description {
        margin-top: 25px;

        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }

    &__title-mobile {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}