.portfolio-item {
    $p: &;

    position: relative;
    display: block;

    width: calc(33.33% - #{$grid-gutter-width});
    margin: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width;
    margin-top: 0;
    background-size: 100%;

    overflow: hidden;
    transition: background-size .2s;


    @include media-breakpoint-down(md) {
        width: calc(50% - #{$grid-gutter-width});

        &:nth-child(1) {
            // width: calc(33.33% - #{$grid-gutter-width});
            width: calc(100% - #{$grid-gutter-width});
        }
    }


    &__overlay {
        opacity: 0;
        @extend .fill;
        @extend .center;
        flex-direction: column;
        position: absolute;

        color: white;
        background-color: rgba(black, .8);
        padding: 40px;

        transform: scale(.9);
        transition: .2s;
    }

    &__title {
        font-family: 'Noto Serif JP', serif;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        padding-bottom: 30px;

        @include media-breakpoint-down(lg) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__text {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__icon {}

    &:hover {
        background-size: 105%;

        #{$p}__overlay {
            @include media-breakpoint-up(sm) {
                opacity: 1;
                transform: scale(1);
            }
        }
    }



    // make square
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    &--2 {
        background-color: rgb(230, 230, 230);

        #{$p}__overlay {
            opacity: 1;
            background-color: rgb(214, 214, 214);
            color: black;
        }

        #{$p}__icon {
            * {

                fill: black;
            }
        }
    }
}