$strokeFromBallOffset: 10px;

.timeline {
    $p: &;

    text-align: left;

    &__item {
        display: flex;
        margin-bottom: $strokeFromBallOffset;

        &:last-child {

            // hide final stroke
            #{$p}__stroke {
                display: none;
            }

            #{$p}__text-area {
                margin-bottom: 0;
            }
        }
    }



    &__timeline-area {
        position: relative;
        margin-right: $grid-gutter-width;
    }

    &__ball {
        @include circle(23px);
        border: 2px solid #404040;
    }

    &__stroke {
        position: absolute;
        left: 10px;
        top: 23px + $strokeFromBallOffset;
        bottom: 0;
        width: 2px;
        background-color: #202020;
    }



    &__text-area {
        font-family: 'Noto Serif JP', serif;
        margin-bottom: 80px;
        margin-top: -8px;

        @include media-breakpoint-down(md) {
            margin-top: -3px;
        }
    }

    &__title {
        color: #939393;
        font-size: 25px;


        @include media-breakpoint-down(md) {
            font-size: 20px;
        }
    }

    &__from,
    &__to {
        display: inline;
        color: #464646;

        &:before {
            content: '- ';
        }


        @include media-breakpoint-down(xs) {
            display: block;
        }
    }
}