// creates css classes like:
// .margin-top-xs-m-2

$maxMargin: 240px;
$spacingSteps: 6;
$sides: (top, right, bottom, left);

@mixin breakpointify($classAndVal, $isNegative) {

    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-down($breakpoint) {
            @each $side in $sides {
                @for $i from 1 through $spacingSteps {
                    // @debug $key;
                    // @debug $val;
                    // @debug $side;
                    // @debug $i;
                    // @debug $breakpoint ':' $classAndVal $side $breakpoint $i;                

                    @if $isNegative {
                        .#{$classAndVal}-#{$side}-#{$breakpoint}-m-#{$i} {
                            #{$classAndVal}-#{$side}: -$maxMargin / $spacingSteps * $i;
                        }
                    }

                    @else {
                        .#{$classAndVal}-#{$side}-#{$breakpoint}-#{$i} {
                            #{$classAndVal}-#{$side}: $maxMargin / $spacingSteps * $i;
                        }
                    }
                }
            }
        }
    }
}