html,
body {}

body {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.2em;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif JP', serif;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.2em;
}

h2 {
    margin-bottom: 30px;
    font-size: 50px;
    margin-top: -22px;

    @include media-breakpoint-down(xs) {
        font-size: 30px;
        margin-top: -12px;
    }
}

p {
    color: black;
    margin-bottom: 2rem;
}

a {
    color: white;
    transition: .3s;

    &:hover {
        color: #ccc;
    }
}