.header-mobile {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);

    z-index: 99;


    @include media-breakpoint-down(md) {
        display: flex;
    }

    &__hamburger {
        position: absolute;
        top: 20px;
        left: 0;

        padding: 20px;

        cursor: pointer;

        div {
            width: 25px;
            height: 2px;

            background-color: white;

            &:first-of-type {
                margin-bottom: 7px;
            }
        }
    }

    &__logo {
        margin: 0 auto;
        margin-top: 20px;
        height: 60px;

        svg {
            fill: white;
            height: 100%;
        }
    }
}