.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: $header-height;
    background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);

    z-index: 99;


    @include media-breakpoint-down(md) {
        display: none;
    }


    &__logo svg {
        fill: white;
        height: 60px;
    }

    &__nav {
        display: flex;
        align-items: center;

        &__item {
            color: $white;
            margin-right: 90px;
            line-height: 1;

            &:last-child() {
                margin-right: 0;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}