.nav-mobile {

    &__item {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 40px 0;

        &:hover {
            text-decoration: none;
        }
    }

    &__backdrop {
        // display: none;
        opacity: 0;
        height: 100%;
        width: 100%;

        top: -100%;
        left: -100%;

        position: fixed;
        z-index: 98;
        background: radial-gradient(90.78% 49.2% at 50% 7.26%, #1D1D1D 0%, #000000 93.23%);
        padding-top: $header-mobile-height;


        &.open {
            display: flex;
        }

        @include media-breakpoint-up(lg) {
            display: none !important;
        }
    }
}