.section {
    position: relative;

    // regular spacing, used for portfolio sections.
    // almost all of them have a line at the bottom
    &-spacing {
        padding-top: map-get($spacers, 15);


        @include media-breakpoint-down(xl) {
            padding-top: map-get($spacers, 14);
        }

        @include media-breakpoint-down(xs) {
            padding-top: map-get($spacers, 12);
        }



        &__line {
            margin-top: map-get($spacers, 15);

            @include media-breakpoint-down(xl) {
                margin-top: map-get($spacers, 14);
            }

            @include media-breakpoint-down(xs) {
                margin-top: map-get($spacers, 12);
            }
        }
    }
}