// transition
$transition-base: .3s;



// font
// $font-size-base: 1.125rem; // 18px
$font-size-base: 0.875rem; // 14px



// grid
// they are the default values, but with a an optional xxl
$grid-gutter-width: 30px;

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px);

$container-max-widths: (sm: 576px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px);



// spacers
$spacers: (0: 0,
  7: $grid-gutter-width / 5,
  8: $grid-gutter-width / 4,
  9: $grid-gutter-width / 3,
  10: $grid-gutter-width / 2,
  11: $grid-gutter-width,
  12: $grid-gutter-width * 2,
  13: $grid-gutter-width * 3,
  14: $grid-gutter-width * 4,
  15: $grid-gutter-width * 5,
  16: $grid-gutter-width * 6,
  17: $grid-gutter-width * 7,
  18: $grid-gutter-width * 8,
  19: $grid-gutter-width * 9,
  20: $grid-gutter-width * 10,

  // 30: 0,
  // 31: 10 * 1,
  // 32: 10 * 2,
  // 33: 10 * 3,
  // 34: 10 * 4,
  // 35: 10 * 5,
  // 36: 10 * 6,
  // 37: 10 * 7,
  // 38: 10 * 8,
  // 39: 10 * 9,
  // 40: 10 * 10
);