{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill"
        style="background-image: url(./assets/portfolio/cliffhotel/cliffhotel.jpg);"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">Cliff Hotel</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/cliffhotel/cliffhotel.jpg" alt="" class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">Cliff Hotel</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>Cliff Hotel is a fictional hotel design close to the Miles Canyon border. The landscape is formed
                        by huge mountain ranges, intersected by immense glaciers and wild rivers. For this design, we
                        dig into the basalt cliffs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/cliffhotel/stone.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row mb-n11">
            <div class="col-12 col-md-4 mb-11">
                <img src="./assets/portfolio/cliffhotel/4.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-4 mb-11">
                <img src="./assets/portfolio/cliffhotel/2.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-4 mb-11">
                <img src="./assets/portfolio/cliffhotel/cliffhotel.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <div class="mb-12">
                    <h2>Floor plan</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl mb-13 text-center p-last-none">
                <img src="./assets/portfolio/cliffhotel/31.jpg" alt="" class="w-100">
            </div>
            <div class="col-xl-1"></div>
            <div class="col-12 col-xl mb-13 text-center p-last-none">
                <img src="./assets/portfolio/cliffhotel/32.jpg" alt="" class="w-100">
            </div>
            <div class="col-12">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 mb-13 text-center p-last-none">
                <img src="./assets/portfolio/cliffhotel/85.jpg" alt="" class="w-100">
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-spacing__line line"></div>
                </div>
            </div>
        </div>

        <div class="row mb-n11">
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/cliffhotel/23.jpg" alt="" class="w-100 mb-10">
                <p>Calculation of the surface</p>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/cliffhotel/24.jpg" alt="" class="w-100 mb-10">
                <p>The sun moves from the east through the south to the west.</p>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/cliffhotel/25.jpg" alt="" class="w-100 mb-10">
                <p>Arrival by car</p>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/cliffhotel/22.jpg" alt="" class="w-100 mb-10">
                <p>Arrival by foot</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>Reliëf</h2>
            </div>
        </div>
        <div class="row mb-n11">
            <div class="col-12 col-md-4 mb-11">
                <img src="./assets/portfolio/cliffhotel/9.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-4 mb-11">
                <img src="./assets/portfolio/cliffhotel/10.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-4 mb-11">
                <img src="./assets/portfolio/cliffhotel/11.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}