{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill"
        style="background-image: url(./assets/portfolio/foldedcube/foldedcube.jpg);"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">Folded Cube</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/foldedcube/foldedcube.jpg" alt="" class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">Folded Cube</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>House III is the third design in a series of research projects investigating the nature of the
                        form-meaning relationship in architecture.
                    </p>
                    <p>
                        Like Eisenman, I want to use straight shapes and create a sleek look.
                        For inspiration I start with the basic shape of the cube. By making different folds a new basic
                        shape is created.
                        I hope to arrive at a new surprising form by means of a form research. That fits well with House
                        III.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/foldedcube/huge.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row mb-n11">
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/1.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/2.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/4.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/3.jpg" alt="" class="w-100 mb-11">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>floor plans</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl mb-13 text-center p-last-none">
                <img src="./assets/portfolio/foldedcube/begane.jpg" alt="" class="w-100 mb-11">
                <p>Ground floor</p>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-12 col-xl mb-13 text-center p-last-none">
                <img src="./assets/portfolio/foldedcube/eerste.jpg" alt="" class="w-100 mb-11">
                <p>First floor</p>
            </div>
            <div class="col-12">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 mb-13 text-center p-last-none">
                <img src="./assets/portfolio/foldedcube/zij.jpg" alt="" class="w-100 mb-11">
                <p>intersection</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-spacing__line line"></div>
                </div>
            </div>
        </div>

        <div class="row pb-2 mb-n11">
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/11.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/12.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/14.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/13.jpg" alt="" class="w-100 mb-11">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>Maquette</h2>
            </div>
        </div>

        <div class="row pb-2 mb-n11">
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/21.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/22.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/24.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/foldedcube/23.jpg" alt="" class="w-100 mb-11">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>







{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}