{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill" style="background-image: url(./assets/portfolio/hhb/hhb.jpg);"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">HOUSEHOLD FAIR MUSEUM & INNOVATION LAB</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/hhb/hhb.jpg" alt="" class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">HOUSEHOLD FAIR MUSEUM & INNOVATION LAB</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>During my internship i designed an innovation & inspiration pavilion. this was installed for the
                        70th edition of the household fair, 21 february to 1 march 2015 in amsterdam rai.
                    </p>
                    <p>
                        products are
                        presented in the in-house exhibition museum and innovation lab. here visitors could admire the
                        latest and updated products.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/hhb/huge.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row pb-2 mb-n11">
            <div class="col-12 col-md-4 col-xl-2 mb-11">
                <img src="./assets/portfolio/hhb/3.jpg" alt="" class="w-100 h-100">
            </div>
            <div class="col-12 col-md-8 mb-11 col-xl-4">
                <img src="./assets/portfolio/hhb/4.jpg" alt="" class="w-100 h-100">
            </div>
            <di class="col-12 col-md-4 col-xl-2 mb-11">
                <img src="./assets/portfolio/hhb/5.jpg" alt="" class="w-100 h-100">
            </di>
            <div class="col-12 col-md-8 mb-11 col-xl-4">
                <img src="./assets/portfolio/hhb/6.jpg" alt="" class="w-100 h-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 mb-11 text-center">
                <h2>3d renders</h2>
            </div>
        </div>

        <div class="row justify-content-center mb-n11">
            <div class="col-12 col-xl mb-11 text-center">
                <img src="./assets/portfolio/hhb/7.jpg" alt="" class="w-100">
            </div>
            <div class="col-xxl-1"></div>
            <div class="col-12 col-xl mb-11 text-center">
                <img src="./assets/portfolio/hhb/8.jpg" alt="" class="w-100">
            </div>
            <div class="col-12">
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}