{{> includes/header }}

<section class="hero center">
    <div class="hero__img cover fill" style="background-image: url(./assets/img/hero.jpg);"></div>
    <div class="position-relative">
        <h2 class="hero__quote quote">
            Moments of impact and how they affected our environment
        </h2>
        <div class="hero__buttons">
            <a href="#portfolio-" class="button button--primary">portfolio</a>
            <a href="#about-me-" class="button button--primary">about me</a>
        </div>
    </div>
</section>

{{> includes/portfolio }}

<div id="about-me" class="bg bg--black-fade position-relative">
    <img src="./assets/img/blobimg.png" alt="" class="avatar">

    <section class="mt-n11 mt-lg-0 pt-lg-17 pt-xxl-20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2>About me</h2>
                    <p>
                        I live in Zwolle but want to work with people from all over the world.
                    </p>

                    <p>
                        ​In my daily life I often throw myself in depth. This is because I like to challenge myself to
                        discover and develop new things.
                    </p>

                    <p>
                        As a designer is it important that my designs connect.
                        So, I explore the boundaries in space: the impact and the identity. For me, space is a dynamic
                        and
                        multifunctional place.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-14 mt-lg-0 pt-lg-17 pt-xxl-20">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col col-lg-10 col-xl-8">
                    <div class="">
                        <h2>Experience</h2>
                    </div>
                    <div class="timeline">
                        <div class="timeline__item">
                            <div class="timeline__timeline-area">
                                <div class="timeline__ball"></div>
                                <div class="timeline__stroke"></div>
                            </div>
                            <div class="timeline__text-area">
                                <h3 class="timeline__title">
                                    <span class="d-inline-block">Customer Relations / </span>
                                    <span class="d-inline-block">Quality Support </span>
                                    <span class="d-inline-block">IKEA B.V. </span>
                                </h3>
                                <div class="timeline__from">August 2019</div>
                                <div class="timeline__to">Present</div>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__timeline-area">
                                <div class="timeline__ball"></div>
                                <div class="timeline__stroke"></div>
                            </div>
                            <div class="timeline__text-area">
                                <h3 class="timeline__title">
                                    <span class="d-inline-block">Bachelor Interior Architectur </span>
                                    <span class="d-inline-block">ArtEZ Zwolle</span>
                                </h3>
                                <div class="timeline__from">August 2018</div>
                                <div class="timeline__to">Present</div>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__timeline-area">
                                <div class="timeline__ball"></div>
                                <div class="timeline__stroke"></div>
                            </div>
                            <div class="timeline__text-area">
                                <h3 class="timeline__title">
                                    <span class="d-inline-block">Junior Art Director / </span>
                                    <span class="d-inline-block">Traffic Manager </span>
                                    <span class="d-inline-block">Leoprinting Nederland B.V.</span>
                                </h3>
                                <div class="timeline__from">October 2016</div>
                                <div class="timeline__to">May 2018</div>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__timeline-area">
                                <div class="timeline__ball"></div>
                                <div class="timeline__stroke"></div>
                            </div>
                            <div class="timeline__text-area">
                                <h3 class="timeline__title">
                                    <span class="d-inline-block">Courses English </span>
                                    <span class="d-inline-block">Volksuniversiteit Alkmaar</span>
                                </h3>
                                <div class="timeline__from">2016</div>
                                <!-- <div class="timeline__to"></div> -->
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__timeline-area">
                                <div class="timeline__ball"></div>
                                <div class="timeline__stroke"></div>
                            </div>
                            <div class="timeline__text-area">
                                <h3 class="timeline__title">
                                    <span class="d-inline-block">Intern Designer </span>
                                    <span class="d-inline-block">XLCONCEPT B.V.</span>
                                </h3>
                                <div class="timeline__from">September 2015</div>
                                <div class="timeline__to">January 2016</div>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__timeline-area">
                                <div class="timeline__ball"></div>
                                <div class="timeline__stroke"></div>
                            </div>
                            <div class="timeline__text-area">
                                <h3 class="timeline__title">
                                    <span class="d-inline-block">Intern Spatial Designer </span>
                                    <span class="d-inline-block">Custom Event B.V.</span>
                                </h3>
                                <div class="timeline__from">September 2014</div>
                                <div class="timeline__to">January 2015</div>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__timeline-area">
                                <div class="timeline__ball"></div>
                                <div class="timeline__stroke"></div>
                            </div>
                            <div class="timeline__text-area">
                                <h3 class="timeline__title">
                                    <span class="d-inline-block">
                                        MBO-4 Vormgeving Ruimtelijke Presentatie en
                                        Communicatie </span>
                                    <span class="d-inline-block">Mediacollege Amsterdam </span>
                                </h3>
                                <div class="timeline__from">August 2012</div>
                                <div class="timeline__to">July 2016</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="plus pt-14">
        <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.56897" y="24.7759" width="50" height="2" fill="white" />
            <rect x="24.569" y="50.7759" width="50" height="2" transform="rotate(-90 24.569 50.7759)" fill="white" />
        </svg>
    </div>

    <section class="py-14">
        {{> includes/contact }}
    </section>

</div>

{{> includes/footer }}