{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill" style="background-image: url(./assets/portfolio/newbee/newbee.jpg);">
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">New Bee</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/newbee/newbee.jpg" alt="" class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">New Bee</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>Concept store New Bee is a platform for emerging entrepreneurs in the creative industry.
                        Innovative design and local art. Young designers can present and sell their objects and tell
                        their story to the visitor / customer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/newbee/huge.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>materials</h2>
            </div>
        </div>
        <div class="row mb-n11">
            <div class="col-6 col-lg-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/newbee/d.jpg" alt="" class="w-100 mb-10">
                <p>marble</p>
            </div>
            <div class="col-6 col-lg-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/newbee/c.jpg" alt="" class="w-100 mb-10">
                <p>oak wood</p>
            </div>
            <div class="col-6 col-lg-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/newbee/b.jpg" alt="" class="w-100 mb-10">
                <p>brass</p>
            </div>
            <div class="col-6 col-lg-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/newbee/a.jpg" alt="" class="w-100 mb-10">
                <p>steel</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>visuals</h2>
            </div>
        </div>

        <div class="row pb-2 mb-n11">
            <div class="col-12 col-md-6 mb-11">
                <img src="./assets/portfolio/newbee/1.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-6 mb-11">
                <img src="./assets/portfolio/newbee/2.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-6 mb-11">
                <img src="./assets/portfolio/newbee/3.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-6 mb-11">
                <img src="./assets/portfolio/newbee/4.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-6 mb-11">
                <img src="./assets/portfolio/newbee/5.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-6 mb-11">
                <img src="./assets/portfolio/newbee/6.jpg" alt="" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 mb-1 text-center">
                <h2>floor plan</h2>
            </div>
        </div>

        <div class="row pb-2 mb-n11 justify-content-center">
            <div class="col-12 col-md-10 col-xxl-8 mb-12 mb-lg-14">
                <img src="./assets/portfolio/newbee/8.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-10 col-xxl-8 mb-11">
                <img src="./assets/portfolio/newbee/7.jpg" alt="" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}