{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill"
        style="background-image: url(./assets/portfolio/pathsinonefamily/pathsinonefamily.jpg);"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">Paths in one family</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/pathsinonefamily/pathsinonefamily.jpg" alt=""
                    class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">Paths in one family</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>If you are open-minded and willing to learn, you will soon discover that some aspects of that
                        path resonate with yours.
                    </p>
                    <p>The present is formed by the layers, from the past and the future. It is important that
                        everything is connected, history and our path as individuals. It is placed on the point of
                        confrontation and sends you through the environment.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/pathsinonefamily/poster.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>Floor plan</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-end">
            <div class="col-12 col-xl mb-13 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/plattegrond.jpg" alt="" class="w-100">
            </div>
            <div class="col-xl-1"></div>
            <div class="col-12 col-xl mb-13 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/zoom.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-13 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/1.jpg" alt="" class="w-100 mb-10">
                <p>Route to the lake</p>
            </div>
            <div class="col-6 col-md-3 mb-13 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/2.jpg" alt="" class="w-100 mb-10">
                <p>CONFRONTATION POINTS</p>
            </div>
            <div class="col-6 col-md-3 mb-13 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/3.jpg" alt="" class="w-100 mb-10">
                <p>The sun</p>
            </div>
            <div class="col-6 col-md-3 mb-13 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/4.jpg" alt="" class="w-100 mb-10">
                <p>CONCLUSION</p>
            </div>
        </div>
        <div class="row mb-n11">
            <div class="col-6 col-md-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/6.jpg" alt="" class="w-100 mb-10">
                <p>CONFRONTATION PARTS</p>
            </div>
            <div class="col-6 col-md-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/9.jpg" alt="" class="w-100 mb-10">
                <p>PAST - FUTURE</p>
            </div>
            <div class="col-6 col-md-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/11.jpg" alt="" class="w-100 mb-10">
                <p>ROUTE THROUGH THE FIVE PARTS</p>
            </div>
            <div class="col-6 col-md-3 mb-11 text-center p-last-none">
                <img src="./assets/portfolio/pathsinonefamily/12.jpg" alt="" class="w-100 mb-10">
                <p>CONCLUSION</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>

</section>



{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}