{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill"
        style="background-image: url(./assets/portfolio/rawfortheoceans/rawfortheoceans.jpg);"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">Raw For The Oceans</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/rawfortheoceans/rawfortheoceans.jpg" alt=""
                    class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">Raw For The Oceans</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>For the brand free project in 2016, I created a fictional design for the Raw for the oceans
                        campaign. With the design I wanted to support the brand in promoting their campaign.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/rawfortheoceans/huge.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>visuals</h2>
            </div>
        </div>

        <div class="row mb-n11">
            <div class="col-12 col-md-12 col-lg-4 mb-11 text-center">
                <img src="./assets/portfolio/rawfortheoceans/3.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-11 text-center">
                <img src="./assets/portfolio/rawfortheoceans/4.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-11 text-center">
                <img src="./assets/portfolio/rawfortheoceans/5.jpg" alt="" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>Floor plan</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 mb-12">
                <img src="./assets/portfolio/rawfortheoceans/6.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-md-10 col-lg-8">
                <img src="./assets/portfolio/rawfortheoceans/7.jpg" alt="" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>









{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}