{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill"
        style="background-image: url(./assets/portfolio/rowhouse/rowhouse.jpg);"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">Row house</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/rowhouse/rowhouse.jpg" alt="" class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">Row house</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>A house with an open interior, hard materials and sleek shapes. The facilities and storage are
                        hidden in a wall.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/rowhouse/huge.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row mb-n11 justify-content-around">
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/rowhouse/1.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/rowhouse/2.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-md-3 text-center">
                <img src="./assets/portfolio/rowhouse/3.jpg" alt="" class="w-100 mb-11">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>Maquette</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-4 text-center">
                <img src="./assets/portfolio/rowhouse/11.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-12 col-lg-6 col-xl-4 text-center">
                <img src="./assets/portfolio/rowhouse/12.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-12 col-lg-6 col-xl-4 text-center">
                <img src="./assets/portfolio/rowhouse/13.jpg" alt="" class="w-100 mb-11">
            </div>
        </div>

        <div class="row mb-n11 justify-content-center">
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/rowhouse/21.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/rowhouse/22.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/rowhouse/23.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/rowhouse/24.jpg" alt="" class="w-100 mb-11">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>3d Renders</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <img src="./assets/portfolio/rowhouse/huge2.jpg" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <img src="./assets/portfolio/rowhouse/huge3.jpg" alt="" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>








{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}