{{> includes/header }}

<div class="header-push mt-13"></div>
<section class="bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center p-last-none mb-13">
                <h2>snapshots</h2>
                <p>These are small pieces of art i've made over the course of my career.</p>
            </div>
        </div>

        <div class="snapshots masonry">
            <img src="./assets/snapshots/1.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/2.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/3.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/4.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/5.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/6.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/7.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/8.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/9.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/10.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/36.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/11.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/30.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/12.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/15.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/17.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/18.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/19.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/20.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/21.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/22.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/23.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/24.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/25.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/26.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/35.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/16.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/27.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/28.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/14.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/31.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/32.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/33.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/34.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/13.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/37.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/38.jpg" alt="" class="snapshots__img">
            <img src="./assets/snapshots/39.jpg" alt="" class="snapshots__img">
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}