{{> includes/header }}

<div class="portfolio-hero">
    <div class="portfolio-hero__img cover fill"
        style="background-image: url(./assets/portfolio/tokyohouse/tokyohouse.jpg);"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col col-md-7 col-xl-6 d-flex align-items-end">
                <h2 class="portfolio-hero__title">Tokyo House</h2>
            </div>
        </div>
    </div>
</div>

<section class="bg bg--white">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="./assets/portfolio/tokyohouse/tokyohouse.jpg" alt="" class="portfolio-hero__preview-img">
            </div>
            <div class="col-12 col-lg-7 col-xl-6">
                <h2 class="portfolio-hero__title-mobile">Tokyo House</h2>
                <div class="portfolio-hero__description p-last-none">
                    <p>The Tokyo house is based on natural light. The space is designed thought light, the natural
                        daylight creates an atmosphere in the different rooms.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="portfolio-wide portfolio-wide--parallax"
        style="background-image: url(./assets/portfolio/tokyohouse/huge.jpg);"></div>
</section>

<section class="section-spacing bg--white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center">
                <h2>Light research</h2>
            </div>
        </div>
        <div class="row mb-n11">
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center">
                <img src="./assets/portfolio/tokyohouse/a.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center">
                <img src="./assets/portfolio/tokyohouse/b.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center">
                <img src="./assets/portfolio/tokyohouse/c.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mb-11 text-center">
                <img src="./assets/portfolio/tokyohouse/d.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center mb-11">
                <h2>Maquette</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 text-center">
                <img src="./assets/portfolio/tokyohouse/22.jpg" alt="" class="w-100 mb-13">
            </div>
            <div class="col-12 col-sm-6 text-center">
                <img src="./assets/portfolio/tokyohouse/23.jpg" alt="" class="w-100 mb-13">
            </div>
        </div>

        <div class="row mb-n11">
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/tokyohouse/3.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/tokyohouse/5.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/tokyohouse/4.jpg" alt="" class="w-100 mb-11">
            </div>
            <div class="col-6 col-lg-3 text-center">
                <img src="./assets/portfolio/tokyohouse/6.jpg" alt="" class="w-100 mb-11">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center mb-11">
                <h2>intersections</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-md-5 col-xxl-3">
                <img src="./assets/portfolio/tokyohouse/20.jpg" alt="" class="w-100">
            </div>
            <div class="col-md-1 col-xxl-2"></div>
            <div class="col-10 col-md-5 col-xxl-3">
                <img src="./assets/portfolio/tokyohouse/21.jpg" alt="" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-spacing bg--white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-6 text-center mb-11">
                <h2>Floor plan</h2>
            </div>
        </div>

        <div class="row justify-content-center mb-n13">
            <div class="col-12 col-sm-5 col-xxl-4 mb-13">
                <img src="./assets/portfolio/tokyohouse/14.jpg" alt="" class="w-100">
            </div>
            <div class="d-none d-sm-flex col-sm-1 col-xxl-2"></div>
            <div class="col-12 col-sm-5 col-xxl-4 mb-13">
                <img src="./assets/portfolio/tokyohouse/12.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-sm-5 col-xxl-4 mb-13">
                <img src="./assets/portfolio/tokyohouse/11.jpg" alt="" class="w-100">
            </div>
            <div class="d-none d-sm-flex col-sm-1 col-xxl-2"></div>
            <div class="col-12 col-sm-5 col-xxl-4 mb-13">
                <img src="./assets/portfolio/tokyohouse/13.jpg" alt="" class="w-100">
            </div>
            <div class="col-12 col-sm-5 col-xxl-4 mb-13">
                <img src="./assets/portfolio/tokyohouse/10.jpg" alt="" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-spacing__line line"></div>
            </div>
        </div>
    </div>
</section>













{{> includes/portfolio }}

{{> includes/contact2 }}

{{> includes/footer }}